@model List<Doctor>
<div class="container">
    <form method="get" asp-controller="Appointment" asp-action="Book">
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="searchName" value="@Context.Request.Query["searchName"]"
                       class="form-control" placeholder="Search by Doctor Name" />
            </div>
            <div class="col-md-4">
                <input type="text" name="searchSpecialty" value="@Context.Request.Query["searchSpecialty"]"
                       class="form-control" placeholder="Search by Specialty" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/images/@item.ImagePath" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h5 class="card-title">@item.Specialization.Name</h5>
                        <a asp-controller="Appointment" asp-action="Create" asp-route-id="@item.DoctorId" class="btn btn-primary">
                            Book on Appointment
                        </a>

                </div>
            </div>
            </div>
        }
    </div>
</div>